<!DOCTYPE html>
<html>
<head>
	<title>Showdown Saturday</title>
	<%- include ("../partials/header.ejs") %>
</head>
<body>
	<%- include ("../partials/nav.ejs") %>

	<div class="jumbotron text-center">
		<div class="container">
			<h1>Showdown Saturday Winner Selection</h1>
			<p>If the participants share a wotreplays link to their game
				on Twitter, this tool can follow the link and scrape the 
				data from wotreplays, so it's easy to verify if they 
				met the requirements.
			</p>
		</div>
	</div>

 <div class="container">

	<div class="row">
		<div class="col-md-6">
			<form class="form-horizontal" action="/findWinners" method="get">
				<div class="form-group-lg">
				<h3>Score To Beat Tweet ID:</h3>
				<input class="form-control" type="number" name="twitterURL" placeholder="Ex: 1374450882792759299"></input>
				<br>
				<button type="submit" class="btn btn-default btn-lg">Find Winners</button><br><br>
			</div>
			</form>
		</div>

		<div class="col-md-6">
			<h3>Tweet ID Example:</h3>
			<img src="/img/twitterurl1.PNG" alt="input example" width="655">
			<img src="/img/showdownTweet.PNG" alt="showdown saturday">
		</div>
	</div>
	
	<div id="app"></div>
</div>
</body>
</html>