<!DOCTYPE html>
<html>
<head>
	<title>Showdown Saturday</title>
	<%- include ("../partials/header.ejs") %>
</head>
<body>
	<%- include ("../partials/nav.ejs") %>

	<div class="jumbotron text-center">
		<div class="container">
			<h1>Showdown Saturday</h1>
			<p>Please enter the appropriate information</p>
		</div>
	</div>

 <div class="container">
	<!-- <h1>Postal Rate Calculator</h1> -->
	<form action="/findWinners" method="get">
		
		<input type="number" name="xp" max="1500">XP Score to Beat </input><br>
		<input type="number" name="twitterURL">URL( must include https:// )</input><br>
		<input type="date" name="startDate">Starting Date</input><br>
		<input type="date" name="endDate">Ending Date</input><br>
		<br><br>
		<input type="submit" value="Get Result">

	</form>
 </div>

</body>
</html>