<!DOCTYPE html>
<html>
<head>
	<title>Postage Price Result</title>
</head>
<body>
	<h1>Expected Postal Rate</h1>
	<p>Your package weight: <%= weight %> ounce(s)</p><br>
	<p>Your package type: <%= mailType %></p><br>
	<p>Total cost: $<%= price %></p><br>
</body>
</html>