<!DOCTYPE html>
<html>
<head>
	<title>Twitter Results</title>
</head>
<body>
	<h1>Twitter Stuff</h1>
	<p>Your replies: <%= replies %> </p><br><br>
	<p>URL list: <%= replayURLlist %> </p><br><br>
	<pre>Contestant stats: <%= stringify %> </pre><br>

</body>
</html>